@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,500;0,700;1,400&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
  text-transform: capitalize;
  font-size: 16px;
  /*   */
}
/* Loginform design */
.app {
  display: flex;
  justify-content: center;
  background-color: #efebc8;
  height: 760px;
}

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e2a72e;
  margin-top: 4rem;
  margin-bottom: 4rem;
  border-radius: 20px;
  padding: 4rem 2rem;
  width: 50%;
}
.welcome h2,
span {
  font-size: 2rem;
  color: #efebc8;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}

.app button {
  background-color: #048789;
  outline: none;
  border-color: transparent;
  padding: 8px 10px;
  font-weight: 800;
  color: #f9f7e9;
  border-radius: 10px;
  margin-top: 10px;
}
